// Grid system
.main {
	@include background($base-background-color);
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	@include padding(1.5em);
	
	@include media($small-screen) {
		@include padding(1em);
		@include span-columns(4);
	}
	@include media($medium-screen) {
		@include span-columns(5);
	}
	@include media($large-screen) {
		@include span-columns(9);
	}
  // @include make-sm-column($main-sm-columns);
  // .sidebar-primary & {
  //   @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  // }
}
.container {
	@include outer-container(83.5%);

	@include media($grid-padding) {
		@include outer-container(95%);
	}
}
.wrap {
	@include padding(rem(15) 0);
}
.sidebar {
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	@include media($small-screen) {
		@include span-columns(4);
		margin-top: 1em;
	}
	@include media($medium-screen) {
		@include span-columns(3);
	}
	@include media($large-screen) {
		@include span-columns(3);
	}
  //@include make-sm-column($sidebar-sm-columns);
}