@import "../../node_modules/bourbon-neat/app/assets/stylesheets/neat-helpers";
// Neat Overrides
$column: 4.2358em;
$gutter: 1.618em;
$grid-columns: 2;
$max-width: 1200px;
$border-box-sizing: false;

// Adding a Visual Grid while you develop. Set to 'true.'
$visual-grid: false;
$visual-grid-color: #ccc;
$visual-grid-index: front;
$visual-grid-opacity: .2;

// Breakpoints
//min-width: 768px
$small-screen: new-breakpoint(max-width 40em 2);/*max-width 640px, mobile-only styles, use when QAing mobile issues */
$medium-screen: new-breakpoint(min-width 40.063em 8);/* min-width 641px, medium screens */
$medium-screen-only: new-breakpoint(min-width 40.063em max-width 64em 8);/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
$large-screen: new-breakpoint(min-width 64.063em 12);/* min-width 1025px, large screens */
$large-screen-only: new-breakpoint(min-width 64.063em max-width 90em 12);/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
$xlarge-screen: new-breakpoint(min-width 90.063em 12);/* min-width 1441px, xlarge screens */
$xlarge-screen-only: new-breakpoint(min-width 90.063em max-width 120em 12);/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
$xxlarge-screen: new-breakpoint(min-width 120.063em 12);/* min-width 1921px, xxlarge screens */

$mobile-padding: rem($gutter) / 2;
// Breakpoints
// $sm: new-breakpoint(min-width 0 2);
// $smbg: new-breakpoint(min-width em(480) 4);
// $md: new-breakpoint(min-width em(768) 6);
// $mdbg: new-breakpoint(min-width em(1024) 8);
// $hg: new-breakpoint(min-width em(1140) 12);
// $mobile: new-breakpoint(max-width 480px 4);

